@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

body {
	background-color: rgba(250, 250, 250, 1);
	/*background-color: black;*/
}

.container {
	width: 100%;
	max-width: 600px;
	margin: 70px auto;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #eee;
	border-radius: 4px;
}

.container_header {
	width: 100%;
	max-width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 1);
}

.row {
	margin: 0 0 20px 0;
}

.col {
	padding: 10px;
	/*border: 1px solid black;*/
}

.col-s {
	float: left;
	/*border: 1px solid black;*/
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.large900 {
	width: 77%;
	margin: 0 auto;
}

.wadaptable {
	width: auto;
	clear: both;
}

.w4p {
	width: 4%;
}

.w6p {
	width: 6%;
}

.w12 {
	width: 8.33%;
}

.w11 {
	width: 16.66%;
}

.w10 {
	width: 25%;
}

.w9 {
	width: 33.33%;
}

.w8 {
	width: 41.66%;
}

.w7 {
	width: 50%;
}

.w6 {
	width: 58.33%;
}

.w5 {
	width: 66.66%;
}

.w4 {
	width: 75%;
}

.w3 {
	width: 83.33%;
}

.w2 {
	width: 91.66%;
}

.w1 {
	width: 100%;
}

.logo {
	margin: 20px 0 0 0;
}

.logo img {
	width: 180px;
	height: auto;
}

.icon {
	margin: 35px 0 0 0;
}

.icon {
	width: 50px;
}

.search {
	margin: 20px 0 0 0;
	font-family: 'Raleway', sans-serif;
}

.imgprofil {
	width: 30px;
	border-radius: 100%;
	margin: 10px 0 0 10px;
}

.nomprofil {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 0.9em;
	color: #444;
	margin: 15px 0 0 15px;
}

.nomprofil2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 0.9em;
	color: #444;
	margin: 15px 0 0 20px;
}

.jaime {
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	color: #222;
	padding: 15px 0 0 20px;
}

.linknomprofil:active, .linknomprofil:visited {
	color: #222;
	width: auto;
}

.heurepost {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color: #aaa;
	margin: 15px 0 0 0;
}

.textpost {
	/*height: 50%;*/
	/*border-bottom: 20px solid black;*/
}

.oui {
	background-color: red;
	height: 10vh;
}

.commentaire {
	background-color: blue;
	/*margin: 0px 0 0 0;*/
}

.description {
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	color: #222;
	margin: 10px 0 0 20px;
}

.ligne  {
	margin: 0 auto;
	width: 92%;
	height: 1px;
	background-color: #eee;
}

.like {
	text-align: center;
	padding: 20px 0 0 10px;
}

.like img {
	width: 25px;
}

.post img {
	width: 100%;
}

.icon img {
	width: 20px;
}

.searchbar {
	background-image: url("../img/searchbar.png");
	background-repeat: no-repeat;
	background-position: 27% center;
	background-size: 4%;
	text-align: center;
	background-color: rgba(250, 250, 250, 1);

	display: flex;
	justify-content: center;
	text-align: center;
	width: 215px;
	height: 27px;
	margin: 8px 0;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 0.8em;
	color: #666;
}

.searchbar:active {
	text-align: left;
	background-color: rgba(255, 255, 255, 1);
	background-position: 5% center;
	color: #444;
}

.searchbar:focus {
	text-align: left;
	background-color: rgba(255, 255, 255, 1);
	background-position: 4% center;
	color: #444;
}

.com {
	padding: 13px 10px 0 10px;
}

.combar {
	width: 100%;
	margin: 10px 0;
	background-size: 4%;
	font-family: 'Raleway', sans-serif;
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 4px;
	font-size: 1em;
}

.plus {
	padding: 20px 0 0 5px;
}

.plus img {
	width: 25px;
}

ul li {
	list-style: none;
}

ul li a {
	text-decoration: none;
}

@media screen and (max-width: 900px) {
	.container_header {
		width: auto;
	}

	.large900 {
		width: 100%;
	}

	header nav ul li[class] {
		float: none;
		width: auto;
	}

	header nav ul li[class="w9"] {
		width: 100%;
	}

	.search {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
	}
	
	.icon {
		float: none;
	}

	.icon img {
		width: 20px;
	}
}

@media screen and (max-width: 480px) {
	.container_header {
		width: auto;
	}

	.large900 {
		width: 100%;
	}
	
	header nav ul li[class] {
		float: none;
		width: auto;
	}

	header nav ul li[class="w9"] {
		width: 100%;
	}
	
	.search {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
	}

	.icon img {
		width: 20px;
	}
}